fastapi
ffmpeg
moviepy
mysql
flask
requests
git+https://github.com/openai/whisper.git
torch
uvicorn
numpy
pandas
opencv-python
librosa
matplotlib
mysql-connector-python
pymysql
python-multipart
vtt_to_srt3
bcrypt